body {
    font-family: Arial, sans-serif;
    background-color: #84745865;
    margin: 0;
    padding: 20px;
    font-size: larger;
}

h1 {
    color: #333;
    font-size: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 30px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}